[Unit]
Description=Permite enviar mails en puerto 7000

[Service]
PIDFile=/tmp/mail-server-99.pid
User=hans
Group=hans
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/home/hans/mail-server/
ExecStart=/home/hans/mail-server/server.js
EnvironmentFile=/home/hans/mail-server/.env

[Install]
WantedBy=multi-user.target

